.classpath
.project
.google_apis
.DS_Store
.settings
.idea
.gradle
.gradle/*
.classpath
.project
*.iml
*.ipr
*.iws
*.eml
*~
out
build
.idea/workspace.xml

.gradle/2.3/taskArtifacts/fileHashes.bin

.gradle/2.3/taskArtifacts/fileSnapshots.bin

.gradle/2.3/taskArtifacts/outputFileStates.bin

.gradle/2.3/taskArtifacts/taskArtifacts.bin
